<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Reflection</title>
</head>
<body>
    <form action="/reflections/<%=reflection._id%>?_method=PUT" method="POST">
        <label for="prompt">Change prompt: </label>
        <input type="select" name="reflection[prompt]" id="prompt" value="<%=reflection.prompt%>">
        <button>submit</button>
    </form>
    <form action="/reflections/<%=reflection._id%>?_method=DELETE" method="post">
        <button>DELETE</button>
        </form>
</body>
</html>