<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Entries</title>
</head>
<body>
    <h1>All entries</h1>
    <% for(let reflection of reflections) { %>
        <li><a href="/<%=reflection._id%> "><%= reflection.prompt %></a></li>
    <% } %>

    <a href="/new">new reflection</a>
</body>
</html>