<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Reflection</title>
</head>
<body>
    <form action="/" method="post">
        <input type="radio" name = "reflection[prompt]" id="prompt" class = "prompt" value="How was your day?">
        <label for="prompt"> Prompt: How was your day? </label>
        <br>
        <input type="radio" name = "reflection[prompt]" id="prompt2" class = "prompt" value="What went well today?">
        <label for="prompt2"> Prompt: What went well today? </label>
        <label for="body"> Type your reflection: </label>
        <br>
        <textarea name="reflection[body]" id="reflectionBody" cols="30" rows="10"></textarea>
        <button>SUBMIT</button>
        </form>    

</body>
</html>