/*
    - CSS RESET
    - HTML
    - BODY
    - MAIN
    - TYPOGRAPHY
    - SVG
    - CONTAINERS:
        - .NAVBAR__CONTAINER
        - .NAV__LINKS__CONTAINER
        - .INDEX__CONTAINER
            - .POST__CONTAINER
            - .POST__BODY
        - .SHOW__CONTAINER
            - .DELETE__MODAL
            - .BUTTON__CONTAINER
            - #DELETE__FORM
        - .EDIT__CONTAINER
            - FORM
            - SELECT
            - BUTTON
            - .CANCEL__BUTTON
        - .NEW__CONTAINER
    -MEDIA QUERIES:
        -1000px
*/

/* --- CSS RESET --- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* --- HTML --- */

html {
    height: 100%;
    --12px: 0.75rem;
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    --24px: 1.5rem;
    --30px: 1.875rem;
    --text__colour: rgb(176 176 176);
    --bg__colour: rgb(20, 19, 19);
    --warning__colour: rgb(246, 7, 55);
    --text-area__bg__colour: rgb(23, 23, 26);
    --hover__colour: rgb(46, 46, 50);
    --svg__hover: rgb(133, 133, 135);
}

/* --- BODY --- */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: var(--text__colour);
    height: 100%;
}

/* --- MAIN --- */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}


/* --- TYPOGRAPHY --- */

textarea {
    background-color: var(--text-area__bg__colour);
    line-height: 1.75;
    padding: 1em;
    border: none;
    border-radius: .2rem;
    outline: var(--text__colour) solid 1px;
    resize: none;
    /* 100% of its parent's height */
    height: 100%;
    width: 100%;
    scrollbar-width: none;
}

#show__textarea {
    outline: none;
}

h1,
h3,
p,
a,
textarea,
select {
    /* font-family: 'Poppins', sans-serif; */
    color: var(--text__colour);
}

h1,
p,
a,
textarea,
select,
button {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: var(--21px);
    padding: 1em 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: var(--16px);
}

p,
textarea,
select,button {
    font-size: var(--14px);
}

a {
    text-decoration: none;
}

.show__reflection__container h3 {
    font-weight: 600;
}

.show__links {
    display: flex;
    align-items: baseline;
    flex-flow: row;
    width: 100%;
    align-self: flex-end;
    column-gap: .5em;
}

.show__links a:first-child {
    margin-right: auto;
}

/* --- SVG --- */

svg {
    width: var(--21px);
    color: var(--text__colour);
}

svg:hover {
    color: var(--svg__hover);
}

#logo__svg:hover {
    color: var(--text__colour);
}

/* --- CONTAINERS --- */

/* --- .NAVBAR__CONTAINER --- */

.navbar__container {
    width: 100%;
    padding: 1.5em 1em;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 10;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}


/* --- .NAV__LINKS__CONTAINER --- */

.nav__links__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* --- .INDEX__CONTAINER --- */

.index__container,
.show__container,
.edit__container,
.new__container {
    position: relative;
    display: flex;
    padding: 2em .5em 0;
    max-width: 1000px;
    flex-flow: column;
    height: 100%;
}

.index__heading__container {
    display: flex;
    align-items: baseline;
    flex-flow: row;
    width: 100%;
    max-width: 1000px;
    justify-content: flex-start;
}

.index__heading__container a {
    margin-left: auto;
}

.index__container ul {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.index__container li {
    max-width: 100%;
}

/* --- .POST__CONTAINER --- */

.post__container {
    max-height: 250px;
    margin: .5em 0;
    padding: 1.25em 0.75em;
    line-height: 1.75;
    row-gap: .5em;
    background-color: var(--text-area__bg__colour);
}

@keyframes mob__post__hover {
    0%    {background-color: var(--text-area__bg__colour)}
    100%  {background-color: var(--hover__colour)}
}

.post__container:hover, .post__container:focus{
    animation: mob__post__hover .5s ease-out forwards;
}

/* --- .POST__BODY --- */

.post__body {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --- .SHOW__CONTAINER --- */

.show__container, .index__container {
    padding: 2em 1.75em;
}

.blur {
    backdrop-filter: blur(10px);
}

.show__reflection__container,
.edit__reflection__container,
.new__reflection__container,
form {
    line-height: 2;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    scrollbar-width: none;
}

/* hide textarea scrollbar on chromium based browsers */
::-webkit-scrollbar {
    scrollbar-gutter: stable;
}

.show__reflection__container {
    row-gap: .5em;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0 0 1em 0;
}

.post__container {
    display: flex;
    flex-direction: column;
}

/* --- .DELETE__MODAL --- */

.delete__modal {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.5;
    padding: 1.5em;
    row-gap: 1.5em;
    background-color: rgb(7, 6, 6);
}



/* --- #DELETE__FORM --- */

#delete__form {
    padding: 0;
}

.hidden {
    display: none;
}

.delete__modal p {
    color: var(--text__colour);
}

.button__container {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: .5em;
}

.button__container button {
    padding: .5em 1.25em;
    background-color: var(--text__colour);
}

.button__container button:first-child:hover {
    background-color: rgb(148, 147, 147);
}

.button__container button:last-child {
    background-color: var(--warning__colour);
}


.button__container button:last-child:hover {
    background-color: brown;
}


/* --- .EDIT__CONTAINER --- */

/* --- FORM --- */

form {
    row-gap: 1em;
    padding: 0 0 1em;
}

/* --- SELECT --- */

select {
    background-color: black;
    padding: .75em .5em;
    border-radius: .25em;
    border: 1px solid var(--text__colour);
}

/* --- BUTTON --- */

button {
    background-color: var(--text__colour);
    border-radius: .25em;
    border: none;
    padding: .5em 0;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

#delete__button {
    background: none;
    border: none;
}

/* --- .CANCEL__BUTTON --- */

.cancel__button {
    background-color: var(--warning__colour);
    width: 100%;
}

/* --- .NEW__CONTAINER --- */

option {
    font-size: var(--12px);
}

.new__reflection__container, .edit__reflection__container {
    padding: 1em;
}

/* --- MEDIA QUERIES --- */

/* --- 1000px --- */

@media (min-width: 1000px) {

    .index__container,
    .edit__container,
    .show__container,
    .new__container {
        align-self: center;
        width: 900px;
        max-width: 1000px;
    } 

    .index__container svg {
        align-self: flex-end;
    }

    .post__container {
        width: 100%;
    }

    h1, #logo__text {
        font-size: var(--24px);
    }

    h3 {
        font-size: var(--19px);
    }

    p,
    textarea,
    select, button {
    font-size: var(--16px);
    }

    svg {
        width: var(--24px);
    }

/* 
    @keyframes post__hover {
        0%   {transform: translate(0, 0)}
        100% {transform: translate(8px, 0)} 
    }

    .post__container:hover, .post__container:focus{
        cursor: pointer;
        animation: post__hover .4s forwards;
    } */

}