<% layout('./layouts/boilerplate') -%>

    <% if (currentUser && reflection.user._id.equals(currentUser._id)) { %>
        <div class="edit__container">
            <div class="edit__reflection__container">
                <form id="edit__form" action="/reflections/<%=reflection._id%>?_method=PUT" method="POST">
                    <select name="reflection[prompt]" id="prompt">
                        <option value="how was your day?">How was your day?</option>
                        <option value="what are you grateful for?">What are you grateful for?</option>
                        <option value="What can you improve on?">What can you improve on?</option>
                        <option value="What did you learn today?">What did you learn today?</option>
                        <option value="General reflection">General reflection</option>
                    </select>
                    <textarea name="reflection[body]" id="body" cols="120" rows="20"><%= reflection.body %></textarea>
                    <button class="save__button">save</button>
                </form>
                <a href="/reflections/<%= reflection._id %>"><button class="cancel__button">cancel</button></a>
            </div>
        </div>
        <% } %>